@import url('./fuentes.css');

:root {
    --azulfuerte: #0528a8;
    --azulclaro: #00ffe9;
    --ligth: #ffffff;
    --dark: #000000;
}
.navbar {
    background-color: transparent;
}

.nav-link {
    font-family: 'Montserrat-Bold';
    color: rgb(4, 29, 167);
}

    .nav-link:hover {
        color: rgb(255, 255, 255);
        border-top: 4px solid rgb(255, 255, 255);
    }
/********************************************************************************************************/
.cambioMenu {
    background: linear-gradient(to bottom right, #00036b, #00ffe9);
}
